[user]
	name = sjrdc
	email = scrijns@gmail.com
[core]
	editor = emacs
[giggle]
	compact-mode = true
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 449
	main-window-view = HistoryView
	file-view-vpane-position = 626
	file-view-hpane-position = 384

[alias]
	lg = log --oneline --all --remotes --full-history --graph --decorate
[gui]
	recentrepo = D:/iCom/icom
[push]
	default = matching

[init]
	defaultBranch = main

[diff]
    tool = bc3
[difftool]
    prompt = false
[difftool "bc3"]
    cmd = '/mnt/c/Program Files/Beyond Compare 4/BComp.exe' \"$(wslpath -aw $LOCAL)\" \"$(wslpath -aw $REMOTE)\"
[merge]
    tool = bc3
[mergetool]
    prompt = false
[mergetool "bc3"]
    trustExitCode = true
    cmd = '/mnt/c/Program Files/Beyond Compare 4/BComp.exe' \"$(wslpath -aw $LOCAL)\" \"$(wslpath -aw $REMOTE)\"